.DS_Store
._*

data/collections
models/

# Compressed numpy arrays
*.npz

# Word vectors
*.vec
*.bin

# Node
node_modules

# Rust
preprocess/symspell/bindings/Python/dist
preprocess/symspell/bindings/Python/build
preprocess/symspell/bindings/Python/symspell_rs.egg-info
preprocess/symspell/bindings/Python/target
preprocess/symspell/**/*.so
